@import "tailwindcss";

:root {
  background-color: white;
  background-image: url("../public/rice-paper.png");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  background-color: white;
  background-image: url("../public/rice-paper.png");
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

